<div class="fca-header-top">
    <a href="" class="fca-logo-small"><img src="images/fca-logo.png" /> </a>
    <span class="fca-header-text">AOBOM - Product Cost Systems</span>
    <span class="fca-header-date">02/07/2017 09:40 AM</span>
</div>
<ul class="fca-nav fca-nav-tabs">
    <li class="fca-first"><a ui-sref="home">Home</a></li>
    <li><a ui-sref="whereUsed">WhereUsed</a></li>
    <li>
        <a ui-sref="asOrder">As Order</a>
        <ul class="fca-submenu">
            <li><a  ui-sref="/submenu1">Sub Menu1</a></li>
            <li><a  ui-sref="/submenu2">Sub Menu2</a></li>
            <li><a  ui-sref="/submenu3">Sub Menu3</a></li>
        </ul>
    </li>
    <li><a ui-sref="catalysticConvertor">Catalystic Convertor</a></li>
</ul>