<div class="fca-header-top">
    <a href="" class="fca-logo-small"><img src="images/fca-logo.png" /> </a>
    <span class="fca-header-text">AOBOM - Product Cost Systems</span>
    <span class="fca-header-date">02/07/2017 09:40 AM</span>
</div>
<ul class="fca-nav fca-nav-tabs">
    <li class="fca-first"><a href="#home">Home</a></li>
    <li><a href="#whereUsed">WhereUsed</a></li>
    <li>
        <a href="#asOrder">As Order</a>
        <ul class="fca-submenu">
            <li><a  href="#/asOrder/submenu">Sub Menu1</a></li>
            <li><a  href="#/asOrder/submenu">Sub Menu2</a></li>
            <li><a  href="#/asOrder/submenu">Sub Menu3</a></li>
        </ul>
    </li>
    <li><a href="#catalysticConvertor">Catalystic Convertor</a></li>
</ul>