<section>
    <div class="fca-main-content">
        <div class="fca-login-block">
            <div class="fca-form-row">
                <label>User ID</label>
                <input />
            </div>
            <div class="fca-form-row">
                <label>Password</label>
                <input />
            </div>
            <span>Need help logging on?(Password Wizard)</span>
            <div class="fca-button"><a href="#home">Sign in</a></div>
        </div>
        <div class="fca-login-content">
            <p class="fca-text-top margintop">
                Access to FCA US LLC's computer system is controlled. The company provide access to personnel for use in the persuit of the
                Company's business.
            </p>
            <h4>UNAUTHORISED ACCESS OR USE IS PROHIBITED</h4>
            <p class="margintop">By proceeding beyond this screen, you acknowledge that this system and it's data are valuable assets of FCA US LLC and that unauthorised
                or use may result in irreperable harm to the company.
            </p>
            <p class="margintop marginbottom fca-text-bot">FCA US LLC management may inspect, and MONITOR the use of, information system to ensure compliance. The Company may terminate access priviliges, take DISCIPLINARY ACTION up to and including discharge, and institutr civil or criminal proceedings for violations of the Compan's policied, process guidelines, or behaviour guidance.</p>
            <span class="fca-active-text">R12.5 Production Central Auth OD02</span>
        </div>
    </div>
</section>
