<div class="fca-whereused-container">
    <!--<div ui-view="enquiry"></div>-->
    <div class="fca-enquiry">
        <div class="fca-enquiry-content">
            <form>
                <div class="fca-form-row" ng-repeat="formdata in vm.configData">
                    <label>{{formdata.dataLabel}}</label>
                    <input type="{{formdata.dataType}}" ng-model="vm.formJson[formdata.dataKey]" />
                </div>
                <div class="fca-form-row">
                    <input type="submit" id="Extract" value="Extract" ng-click="vm.enquiryForm('extract')" />
                    <input type="submit" id="Inquire" value="Inquire" ng-click="vm.enquiryForm('inquire')" />
                </div>
            </form>
        </div>
    </div>
    <div class="fca-grid-data">
        <div ui-grid="vm.gridOptions" class="grid" ui-grid-selection ui-grid-grouping ui-grid-edit></div>
    </div>

    <div class="fca-update-container">
        <input type="button" id="Update" value="Update" ng-click="vm.enquiryFormUpdate('update')" />
    </div>

</div>